<div class="LoginHeader">
  <div>
    <h2> MAYMA</h2>
  </div>
  </div>
    
 <div class="container">
  <p>Loading ...</p>
  <!-- <form #frmlogin="ngForm" class="login-form" (ngSubmit)="authenticate(userModel);frmlogin.reset();">
      <h2>Sign in to your account</h2>
      <hr>
  
    <label for="email"> Username </label>
      <input type="email" [(ngModel)]="userModel.email" id="email" name="email" required="required">
      <label for="email"> Password </label>
      <input type="password" [(ngModel)]="userModel.password" id="Password" name="Password" required="required">
      <button [disabled]="!frmlogin.form.valid"  type="submit"  >Login</button>
      <p *ngIf="showError">Username or password is incorrect!</p>
  </form> -->
</div>